---
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
{% include header.html doctitle="A free AdLib sound player library" %}
<body>

{% include menu.html %}

<table class="page">
<tr><td>
<a name="download"></a>
<h1>Download</h1>
<p>
	AdPlug is a
	<a href="https://en.wikipedia.org/wiki/Library_%28computing%29">library</a>,
	which does nothing on its own.  It must be combined with something else that
	can make the library do something useful.  An example is the Winamp plugin,
	which acts as an interface between Winamp and AdPlug, allowing songs that
	the AdPlug library supports to be played by Winamp.
</p>
<p>
	There are a few different interfaces like this which can be downloaded below.
	Choose the one that best suits your needs.
</p>

<table>
<tr><td><b>Module:</b></td><td><b>Description:</b></td></tr>
<tr><td><a href="https://github.com/adplug/adplug/releases">AdPlug core library</a></td>
<td><h2>AdPlug library source distribution for all architectures:</h2>

<p>You need this only if you like to write your own AdPlug frontend or
want/have to recompile any of the available frontends.</p>

<p>The following file packages are available:</p>
<ul>
<li>adplug-*.tar.bz2 - bzip2 compressed source</li>
<li>adplug-*.tar.gz - gzip compressed source</li>
<li>adplg*s.zip - Stripped-down source version for DOS users only
(PKZIP compressed)</li>
<li>adplug*.zip - Precompiled binary (unoptimized) for DOS users
(PKZIP compressed)</li>
</ul>
</td></tr>
<tr><td><a href="https://github.com/adplug/winamp/releases">AdPlug/Winamp</a></td>
<td><h2>AdPlug Winamp input plugin:</h2>

<p>The AdPlug Winamp plugin was the first available frontend for
AdPlug and right now, it is the most advanced frontend of them
all. Winamp is available at
<a href="http://www.winamp.com">www.winamp.com</a>.</p>

<p>Since version 1.6 binaries are compiled including the latest OPL2 and OPL3
emulators from the MAME distribution for the best emulation quality.</p>

<p>The following file packages are available:</p>
<ul>
<li>in_adlib-*.zip - PKZIP compressed binary</li>
<li>in_adlib-*.exe - Win32 self-installing binary</li>
<li>in_adlib-*_source.zip - PKZIP compressed source</li>
<li>in_adlib-*.tar.gz - gzip compressed source</li>
</ul>
</td></tr>
<tr><td><a href="https://github.com/adplug/adplay-dos/releases">AdPlay/DOS</a></td>
<td><h2>AdPlay/DOS for MS-DOS:</h2>

<p>AdPlay/DOS is AdPlug's MS-DOS based frontend. Sporting an
exclusively programmed, highly configurable textmode interface, it
provides a convenient playback experience.</p>

<p>The following file packages are available:</p>
<ul>
<li>adplay*.zip - PKZIP compressed binary (i386 protected mode)</li>
<li>adply*s.zip - PKZIP compressed source</li>
<li>timer*.zip - Watcom C/C++ 11.x Timer Library (needed by
adply*s.zip)</li>
<li>window*.zip - Watcom C/C++ 11.x Textmode Window Classes (needed by
adply*s.zip)</li>
</ul>
</td></tr>
<tr><td><a href="https://github.com/adplug/adplay-unix/releases">AdPlay/UNIX</a></td>
<td><h2>AdPlay/UNIX for UNIX compatible architectures:</h2>

<p>AdPlay/UNIX is a classic UNIX console frontend with all the usual
bells and whistles. It is proven to work well on many different
kinds of UNIX flavours.</p>

<p>The following file packages are available:</p>
<ul>
<li>adplay-*.tar.bz2 - bzip2 compressed source</li>
<li>adplay-*.tar.gz - gzip compressed source</li>
</ul>
</td></tr>
<tr><td><a href="https://github.com/adplug/xmms/releases">AdPlug/XMMS</a></td>
<td><h2>AdPlug XMMS input plugin:</h2>

<p>AdPlug/XMMS is an XMMS input plugin. It supports playback of all
formats using AdPlug's OPL2 emulator only. XMMS is available
at <a href="http://www.xmms.org">www.xmms.org</a>.</p>

<p>The following file packages are available:</p>
<ul>
<li>adplug-xmms-*.tar.bz2 - bzip2 compressed source</li>
<li>adplug-xmms-*.tar.gz - gzip compressed source</li>
</ul>
</td></tr>
<tr><td><a href="https://github.com/adplug/database/releases">Database</a></td>
<td><h2>AdPlug Database:</h2>

<p>The AdPlug database is the source for AdPlug to get essential
replay information about problematic files. Some file formats
(eg. Apogee's IMF format) contain too few information about a song for
it to be correctly replayed by AdPlug. To counter this, the AdPlug
database was created.</p>

<p>If you have a problematic file that's not covered in this database,
please file a bug report against the database and include either the
problematic file itself or the corresponding database entry.</p>

<p>The following file packages are available:</p>
<ul>
<li>adplug.db - uncompressed database file</li>
<li>adplugdb-*.tar.gz - gzip compressed database package</li>
</ul>
</td></tr>
</table>
</td></tr>

</table>
{% include footer.html %}
</body>
</html>
