<p>
	<strong>adplug core 2.3.3 released</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2020-06-10</small>
	<br />
	<ul>
		<li>New RAD player by devinacker</li>
		<li>Many bug fixes by Alexander Miller<br/>
			<ul>
  				<li>CVE-2019-14690 - buffer overflow in .bmf</li>
  				<li>CVE-2019-14691 - buffer overflow in .dtm</li>
  				<li>CVE-2019-14692 - buffer overflow in .mkj</li>
  				<li>CVE-2019-14732 - buffer overflow in .a2m</li>
  				<li>CVE-2019-14733 - buffer overflow in .rad</li>
  				<li>CVE-2019-14734 - buffer overflow in .mtk</li>
  				<li>CVE-2019-15151 - double free and OOB reads in .u6m</li>
  				<li>OOB reads in .xad</li>
  				<li>OOB reads in .rix</li>
			</ul>
		</li>
	</ul>
	For download links, please visit:<br />
	<a href="https://github.com/adplug/adplug/releases/tag/adplug-2.3.3">github adplug release</a><br />
</p>
<p>
	<strong>adplay/unix 1.8.1 released</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2020-05-24</small>
	<br />
	<ul>
 		<li>Update surround synth and add support for surround NukedOPL</li>
	</ul>
	For download links, please visit:<br />
	<a href="https://github.com/adplug/adplay-unix/releases/tag/v1.8.1">github adplay/unix release</a><br />
</p>
<p>
	<strong>adplug core 2.3.2 released</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2020-05-11</small>
	<br />
	<ul>
		<li>bugfixes</li>
	</ul>
	For download links, please visit:<br />
	<a href="https://github.com/adplug/adplug/releases/tag/adplug-2.3.2">github adplug release</a><br />
</p>
<p>
	<strong>libbinio Version 1.5 released</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2019-08-07</small>
	<br />
	<ul>
		<li>use istream->feof() to reliable detect end of file</li>
		<li>seek to end of file on memory mapped files made object stuck in EOF.</li>
	</ul>
	For download links, please visit:<br />
	<a href="https://github.com/adplug/libbinio/releases/tag/libbinio-1.5">github libbinio release</a><br />
</p>
<p>
	<strong>adplug core 2.3.1 released</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2018-04-22</small>
	<br />
	<ul>
		<li>Minor fixes to the build system for performance and compatibility</li>
		<li>Fix for Linux on more esoteric arches</li>
		<li>Add support for SOP version 2 files</li>
	</ul>
	For download links, please visit:<br />
	<a href="https://github.com/adplug/adplug/releases/tag/adplug-2.3.1">github adplug release</a><br />
</p>
<p>
	<strong>adplug core 2.3 and adplay/Unix 1.8 released</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2017-11-19</small>
	<br />
	<ul>
		<li>Many bugfixes</li>
		<li>Preliminary support for HERAD files (*.HSQ *.SQX *.SDB *.AGD *.HA2)</li>
		<li>Add support for Easy AdLib 1.0 files (*.BMF)</li>
		<li>Add support for Note Sequencer by sopepos fukes (*.SOP)</li>
		<li>Add support for Video Game Music (*.VGM *.VGZ)</li>
		<li>Add support for SoundFX Macs Opera CMF (*.CMF)</li>
		<li>Add support for God of Thunder Music (*.GOT)</li>
		<li>Add Nuked OPL3 emulator</li>
		<li>Add Woody OPL3 emulator</li>
	</ul>
	For download links, please visit:<br />
	<a href="https://github.com/adplug/adplug/releases/tag/adplug-2.3">github adplug release</a><br />
	<a href="https://github.com/adplug/adplay-unix/releases/tag/v1.8">github adplay/unix release</a><br />
</p>
<p>
	<strong>Continuous integrations with Travis and Appveyor</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2016-05-29 - Malvineous</small>
	<br />
	AdPlug now has continuous integration (CI) support!  Every time a change is
	pushed to the git repository, <a href="http://www.travis-ci.org">Travis CI</a>
	will pick it up and compile it under both Linux and OSX, and run the tests to
	ensure no errors have been introduced.
	<a href="http://www.appveyor.com">Appveyor</a> will also pick up the change
	and compile it under Windows.
	<br />
	<br />
	This means that it will now be much easier to get access to the latest
	development versions of AdPlug.  For those using the Winamp plugin, you can
	get this &quot;pre-release&quot; version from the
	<a href="https://github.com/adplug/winamp/releases">GitHub release page</a>.
</p>
<p>
	<strong>AdPlug moves to GitHub</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2015-06-24 07:30 - <a href="http://github.com/adplug">AdPlug</a></small>
	<br />
	AdPlug development has now moved to GitHub!  The website is now at
	<a href="http://adplug.github.io">http://adplug.github.io</a> and the main
	repository is at
	<a href="http://github.com/adplug/adplug">http://github.com/adplug/adplug</a>.
	AdPlay, the Winamp plugin and other modules are now in separate repositories.
	See the full list at <a href="http://github.com/adplug">http://github.com/adplug</a>.
</p>
<p>
	<strong>AdPlug core 2.2.1 released</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2010-04-06 03:22 - <a href="http://sourceforge.net/projects/adplug/">AdPlug</a></small>
	<br />
	Just a minor release this time, which fixes a couple of bugs and crashes.
	See the NEWS file for full details.
	<br />
	<a href="http://sourceforge.net/forum/forum.php?forum_id=0">Read More &raquo;</a>
</p>
<p>
	<strong>AdPlug core 2.2 and AdPlay/UNIX 1.7 released</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2010-01-01 10:02 - <a href="http://sourceforge.net/projects/adplug/">AdPlug</a></small>
	<br />
	At last another release!
	<br />
	<br />AdPlug 2.2 brings with it these changes:
	<br />
	<a href="http://sourceforge.net/forum/forum.php?forum_id=1066389">Read More &raquo;</a>
</p>
