<p>
	<strong>Continuous integrations with Travis and Appveyor</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2016-05-29 - Malvineous</small>
	<br />
	AdPlug now has continuous integration (CI) support!  Every time a change is
	pushed to the git repository, <a href="http://www.travis-ci.org">Travis CI</a>
	will pick it up and compile it under both Linux and OSX, and run the tests to
	ensure no errors have been introduced.
	<a href="http://www.appveyor.com">Appveyor</a> will also pick up the change
	and compile it under Windows.
	<br />
	<br />
	This means that it will now be much easier to get access to the latest
	development versions of AdPlug.  For those using the Winamp plugin, you can
	get this &quot;pre-release&quot; version from the
	<a href="https://github.com/adplug/winamp/releases">GitHub release page</a>.
</p>
<p>
	<strong>AdPlug moves to GitHub</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2015-06-24 07:30 - <a href="http://github.com/adplug">AdPlug</a></small>
	<br />
	AdPlug development has now moved to GitHub!  The website is now at
	<a href="http://adplug.github.io">http://adplug.github.io</a> and the main
	repository is at
	<a href="http://github.com/adplug/adplug">http://github.com/adplug/adplug</a>.
	AdPlay, the Winamp plugin and other modules are now in separate repositories.
	See the full list at <a href="http://github.com/adplug">http://github.com/adplug</a>.
</p>
<p>
	<strong>AdPlug core 2.2.1 released</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2010-04-06 03:22 - <a href="http://sourceforge.net/projects/adplug/">AdPlug</a></small>
	<br />
	Just a minor release this time, which fixes a couple of bugs and crashes.
	See the NEWS file for full details.
	<br />
	<a href="http://sourceforge.net/forum/forum.php?forum_id=0">Read More &raquo;</a>
</p>
<p>
	<strong>AdPlug core 2.2 and AdPlay/UNIX 1.7 released</strong>
	&nbsp;&nbsp;&nbsp;
	<small class="date">2010-01-01 10:02 - <a href="http://sourceforge.net/projects/adplug/">AdPlug</a></small>
	<br />
	At last another release!
	<br />
	<br />AdPlug 2.2 brings with it these changes:
	<br />
	<a href="http://sourceforge.net/forum/forum.php?forum_id=1066389">Read More &raquo;</a>
</p>
